* {
  scroll-behavior: smooth;
}
header { 
  margin: 0px;
  background-image: url("img/map-image.png");
  background-repeat: no-repeat;
  background-position: center;
  }

body {
  background-image: url("img/Fond.jpg");
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;
  margin: 0px;
}



#PDP img {
  border-radius: 50%;
}

p {
  text-align: justify;
  font-size: 20px;
  margin: 100px;
  font-family: Arial, sans-serif;
}

.quiSuisJe {
  text-align:center;
}

.presentation {
  vertical-align: middle;
  font-size: 20px;
  margin: 0px;
}

.BSMP {
 font-size: 50px;
 color: azure;
 margin: 0px;
}

#container {
  display: flex;
  flex-direction: row;
}

h4 {
  font-size: 25px;
}

h2 {
  font-family: Arial, sans-serif;
  font-size: 70px;
  color: rgb(8, 135, 194);
  background-color: rgba(0, 0, 0, 0.479);
}

.gauche, .droite {
width: 50%;
text-align: center;
}

.gauche img {
  border: 2px solid white;
  border-radius: 70px;
  width: 400px;
  height: 400px;
  margin: 0px;
}

.droite img {
  border: 2px solid white;
  border-radius: 70px;
  width: 400px;
  height: 400px;
  margin: 0px;
}

.imgParcours {
  margin: 0px;
  flex:50%;
}

.parcours {
display:flex ;
}

/* Navigation */
.navbar {
  background-color: #333;
  color: #fff;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.nav-list li {
  margin: 0 10px;
}

.nav-list li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.nav-list li a:target {
  color: #00ff15; /* Changer la couleur du lien actif */
  font-weight: bold; /* Mettre en gras le lien actif */
  text-decoration: underline; /* Souligner le lien actif */
}
  
  #search {
  padding: 5px;
  font-size: 17px;
  border: 2px solid grey;
  border-radius: 9px;
  }
  
  #contact {
    background-image: url("img/map-image.png");

  }
  #contact form {
    width: 70%;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  

  
  #contact input[type="text"],
  #contact input[type="email"],
  #contact input[type="tel"],
  #contact textarea {
    width: 100%;
    padding: 12px;
    border: 10px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    margin-bottom: 0px;
    font-size: 16px;
  }
  
  #contact textarea {
    height: 150px;
  }
  
  #submitButton {
    background-color: #36f446;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #submitButton:hover {
    background-color: #ff5722;
    animation-name: shake;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
  }
  
 
  
  #contact input[type="text"]:focus,
  #contact input[type="email"]:focus,
  #contact input[type="tel"]:focus,
  #contact textarea:focus {
    border: 2px solid #4CAF50;
  }
  
  form div.coordo {
    display: flex;
    margin-bottom: 0px;
  }



footer {
background-color: black;
height: auto;
font-size: 20px;
  }

  .linkedin-logo {
    display: inline-block;
    background-color: #0f01d1;
    border-radius: 50%;
    padding: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .linkedin-logo span {
    display: none;
  }
  
  .linkedin-logo::before {
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M416 64H96C74.7 64 57 81.7 57 103v306c0 21.3 17.7 38 39 38h320c21.3 0 39-16.7 39-38V103c0-21.3-17.7-39-39-39zM172.5 416h-47V204h47v212zm-23.5-239c-22.1 0-40-17.9-40-40s17.9-40 40-40c22.1 0 40 17.9 40 40s-17.9 40-40 40zM385.5 416h-47v-89c0-21.6-.4-49-30-49-30.1 0-34.7 23.5-34.7 47v91h-47V204h47v25.5c15.5-19.2 41.9-22.5 60.5-22.5 63.3 0 74.5 41.6 74.5 95.5v113z' fill='%23ffffff'/%3E%3C/svg%3E") no-repeat center center;
    background-size: contain;
  }
